.tab {
  position: relative;
  background: #6e45df;
  min-width: 120px;
  font-size: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.3s ease all;
  overflow: hidden;
  cursor: pointer;
}
 
.tabHighlight {
  pointer-events: none;
  position: absolute;
  opacity: 0.5;
  width: 300px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(rgba(157, 128, 238, 1), rgba(157, 128, 238, 0));
  top: -20px;
}